@model DivTech.Models.FornecedorModel
@{
}

<h2>Editar Forncedor</h2>
<form method="post" asp-action="Edit">
    <div class="form-group m-3">
        <input 
            type="hidden"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Fornecedor"
            asp-for="Id"
        >
    </div>
    <div class="form-group m-3">
        <label for="Nome">Nome do fornecedor</label>
        <input 
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Fornecedor"
            asp-for="Nome"
        >
    </div>
    <div class="form-group m-3">
        <label for="CNPJ">CNPJ</label>
        <input 
            type="text"
            class="form-control"
            id="CNPJ"
            placeholder="00.000.000/0000-00"
            asp-for="CNPJ"
        >
    </div>
    <div class="form-group m-3">
        <label for="especialidade">Especialidade</label>
        <select 
            class="form-control"
            id="especialidade"
            asp-for="Especialidade"
        >
            <option value="1">Comércio</option>
            <option value="2">Serviço</option>
            <option value="3">Indústria</option>
        </select>
    </div>
    <div class="form-group m-3">
        <label for="CEP">CEP</label>
        <input 
            type="text"
            class="form-control"
            id="CEP"
            placeholder="00000-000"
            asp-for="CEP"
        >
    </div>
    <div class="form-group m-3">
        <label for="endereco">Endereço</label>
        <input 
            type="text"
            class="form-control"
            id="endereco"
            asp-for="Endereco"
            readonly
        >
    </div>

    <button type="submit" class="btn btn-primary w-100">Alterar Forncedor</button>
</form>